@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}




/* header section */

  /* NavBar */

.main-header{
  margin-bottom: 70px;
}
nav{
  /* background-color: #0fa6a1; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .logo{
  display: flex;
  align-items: center;
}
nav .logo img{
  width: 52px;
  margin-left: 40px;
  height: 52px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 120px;
}
nav .logo .title{
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
}
nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}
nav ul li:hover{
  /* background-image: linear-gradient(-45deg, #4568dc, #b06ab3); */
  color: #fff;
  /* border-radius: 50px; */
}
nav ul li{
  color: #000000;
  padding: 22px 40px;
  /* background: #77f3b9; */
}
nav ul li.active{
  background: #b06ab3;
}

nav ul li a{
  color: #000000;
  text-decoration: none;
}

@keyframes appear{
  from {
    opacity: 0.0;
    top: -100;
  }
  to{
    opacity: 1.0;
    top: 0.0;
  }
}
.login a{
  margin-left: 170px;
}

.box{
  height: 30px;
  width: 900px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  /* background: blueviolet; */
  margin-left: 250px;
  margin-top: -10px;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.box:hover input{
  width: 850px;
}
.box input{
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}
.box a img{
  color: #1daf;
  font-size: 18px;
}
.box img{
  width: 50px;
  height: 40px;
}
.category-btn{
  margin-top: -40px;
  margin-left: 21px;
}
.bn30{
  border: rem;
  cursor: pointer;
  outline: none;
  font-size: 16;
  -webkit-transform: translate(0);
  transform: translate(0);
  /* background-image: linear-gradient(45deg, #77f3b9, #0fa6a1); */
  padding: 0.7rem 2rem;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  width: 160px;
}
.bn30 .text{
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  /* background-image: linear-gradient(45deg, #000000, #b06ab3); */
}
.bn30::after{
  contain: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}
.bn30:hover{
  /* background-image: linear-gradient(-45deg, #4568dc, #b06ab3); */
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}
.bn30:hover .text {
  /* background-image: linear-gradient(-45deg, #4568dc, #b06ab3); */
}



/* -----------------------------foooter by gaurav------------------------------------- */

.footer1 {
  position: fixed;
}

.footer-detail {
  text-align: center;
  padding: 5px;
  margin-top: 5px;
}
