@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
}




/* header section */

.logo{
  display: flex;
  margin: 15px;
  padding: 10px;
}

img{
  width: 50px;
}
.logo p{
  font-weight: 500;
}
.navbar nav{
  display: flex;
  justify-content: center;
  align-items: center;
}



/* -----------------------------foooter by gaurav------------------------------------- */

.footer1 {
  position: fixed;
}

.footer-detail {
  text-align: center;
  padding: 5px;
  margin-top: 5px;
}
